@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar {
  @apply bg-white p-[20px];
}

.link {
  @apply mr-[10px] no-underline text-black;
}

.title {
  @apply text-center mt-[50px] mb-[30px];
}

.list {
  @apply my-[20px] mx-auto bg-white text-black p-[20px] rounded-md w-[200px];
}

.cart-item {
  @apply p-10 flex justify-around border-b-[1px] border-gray-500 leading-none;
}
